@charset "utf-8";
@import url("bg.css");
@import url("box.css");
/* CSS Document */

.font0 {
	font-family: "微软雅黑";
	font-size: 10pt;
	line-height: 150%;
	color: #BD0000;
}

.font1 {
	font-family: "微软雅黑";
	font-size: 12pt;
	line-height: 300%;
	color: #FFF;
}

.bt {
	font-family: "微软雅黑";
	font-size: 25px;
	line-height: 100%;
	font-weight: normal;
	color: #000;
}

p {
	text-align: center;
	text-indent: 24;
	word-spacing: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
}

ul {
	list-style-position: inside;
	list-style-image: url(../images/content/xmfh.gif);
	margin: 0px;
	padding: 0px;
}

li {
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
}

a:link {
	font-size: 15px;
	color: #ffffff;
	text-decoration: underline;
	font-family: "微软雅黑";
}
a:hover {
	font-size: 100%;
	color: #000;
	text-decoration: underline;
	font-family: "微软雅黑";
}
a:active {
	font-size: 100%;
	color: #FCC;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:visited {
	font-size: 100%;
	color: #FFC;
	text-decoration: none;
	font-family: "微软雅黑";
}   
